@page "/"
@page "/login"
@using MauiApp9.Services
@inject AuthService AuthService
@inject NavigationManager NavManager

<div class="form-centered">
    <h3>Acceso Centros</h3>

    <label for="username">Username</label>
    <input id="username" @bind="username" class="form-control" placeholder="Usuario" />

    <label for="password">Password</label>
    <input id="password" @bind="password" type="password" class="form-control" placeholder="Contraseña" />

    <button class="btn btn-primary btn-entrar" @onclick="HacerLogin">
        Entrar
    </button>

    @if (!string.IsNullOrEmpty(mensajeError))
    {
        <div class="alert alert-danger text-center" style="margin-bottom:0;">
            @mensajeError
        </div>
    }
</div>

@code {
    private string username;
    private string password;
    private string mensajeError;

    private async Task HacerLogin()
    {
        mensajeError = "";

        if (string.IsNullOrWhiteSpace(username) || string.IsNullOrWhiteSpace(password))
        {
            mensajeError = "Rellena los campos porfavor .";
            return;
        }

        var exito = await AuthService.Login(username, password);

        if (exito)
        {
            NavManager.NavigateTo("/buscador");
        }
        else
        {
            mensajeError = "Erabiltzailea txarto edo zerbitzua ez hasita";
        }
    }
}