<aside class="barra-lateral" [class.barra-contraida]="isCollapsed">
      <!-- Logo y nombre de app -->
      <div class="encabezado-barra">
        <img
          src="public/images/elorrieta-logo.jpg"
          alt="Elorrieta-Erreka Mari"
          class="logo-imagen"
          [class.contraido]="isCollapsed">
        <span class="titulo-aplicacion">ElorAdmin</span>
      </div>

      <!-- Menú de navegación -->
      <nav class="menu-navegacion">
        <ul class="nav flex-column">
          <!-- Menu elementuak -->
          @for (item of visibleMenuItems; track item.route) {
            <li class="nav-item">
              <a
                class="enlace-menu"
                [routerLink]="item.route"
                routerLinkActive="activo"
                [routerLinkActiveOptions]="{ exact: item.route === '/dashboard' }"
                [title]="item.label | translate">
                <i class="bi" [ngClass]="item.icon"></i>
                <span class="texto-menu">
                  {{ item.label | translate }}
                </span>
              </a>
            </li>
          }
        </ul>
      </nav>
    </aside>